@model IEnumerable<PLPSOFT.ERP.Domain.Entities.MasterData.CustomerGroupProductPrice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerGroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerGroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupPriceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupPriceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupPriceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
