@model List<PLPSOFT.ERP.Sales.SaaS.V2026.Models.SupplierGroup>

<div class="container mt-4">
    <h2 class="mb-3">Danh sách nhóm nhà cung cấp</h2>

    <div class="d-flex justify-content-between mb-3">

        <!--Search -->
        <form method="get" class="d-flex" style="width: 300px;">
            <input type="text" name="search" value="@ViewBag.Search"
                   class="form-control me-2"
                   placeholder="🔍 Tìm tên nhóm..." />
            <button type="submit" class="btn btn-dark">Tìm</button>
        </form>

        <!-- Add -->
        <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
    </div>

    <table class="table table-bordered table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Mã</th>
                <th>Tên</th>
                <th style="width:150px">Hành động</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.GroupCode</td>
                    <td>@item.GroupName</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SupplierGroupID" class="btn btn-warning btn-sm">Sửa</a>
                        <a asp-action="Delete" asp-route-id="@item.SupplierGroupID" class="btn btn-danger btn-sm">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>